<!DOCTYPE html>
<html>
  <head>
    <title>Your Numbers</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Your Numbers</h1>
    <p><%= numbers %></p>
    <form method='GET' action="/">
      <input type="submit" value="HOME"/>
    </form>
  </body>
</html>
