<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Posted by <%= author%></p>
    <p><%= contents%></p>
    <br>

    <form method='GET' action="/list">
      <input type="submit" value="List of Posts"/>
    </form>
    <form method='GET' action="/">
      <input type="submit" value="Home"/>
    </form>

  </body>
</html>
