<!DOCTYPE html>
<html>
  <head>
    <title>Write New Post</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Write New Post</h1>
    <form action = '/write' method = 'POST'>
      <p><input type = 'text' name = 'title'/></p>
      <p><textarea            name = 'contents' ></textarea></p>
      <p><input type = 'submit' /></p>
    </form>
    <form method='GET' action="/list">
      <input type="submit" value="List of Posts"/>
    </form>
  </body>
</html>
