<!DOCTYPE html>
<html>
<head>
	<title>home</title>
</head>
<body>
<a href="/lotto">go to lotto</a><br>
<a href="http://naver.com">go to naver</a><br>
<a href="#" onclick="window.open('http://www.yapp.co.kr/');"><img src="/images/yapplogo.jpg" alt="picture" width="350" ></a>
<a href="#" onclick="window.open('http://teamnexters.com/');"><img src="/images/next.jpg" alt="picture" width="350" ></a>
<a href="#" onclick="window.open('http://facebook.com/');"><img src="/images/fb.png" alt="picture" width="350" ></a><br>
</body>
</html>